<div class="container-fluid m-0 p-0" style="min-height: 100vh;">

    <!-- heading -->
    <div class="mt-2">
        <h4 class="text-muted text-warning"> Employee Section</h4>
        <hr class="text-muted">
    </div>

    <!-- first row -->
    <div class="row pe-2 mt-3">
        <div class="col-sm-4 text-center">
            <a href="" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="card shadow">
                    <div class="card-body">
                        <h6>Add New Employee</h6>
                        <h5>+</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a style="text-decoration: none;" (click)="getAllEmployees()">
                <div class="card shadow">
                    <div class="card-body">
                        <h6 class="text-danger">Total Employees</h6>
                        <h5>{{employeeList.length}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- main -->
    <div class="row pe-2 mt-3">
        <div id="listOfEmployee">
            <h4 class="text-muted mt-3">Employees</h4>
            <div class="col-sm-12 mt-3">
                <div class="card shadow">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <tr>
                                    <th scope="col" class="text-center">First name</th>
                                    <th scope="col" class="text-center">Last name</th>
                                    <th scope="col" class="text-center">Email</th>
                                    <th scope="col" class="text-center">Mobile</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let emp of employeeList">
                                    <td scope="col" class="text-center">{{emp.first_name}}</td>
                                    <td scope="col" class="text-center">{{emp.last_name}}</td>
                                    <td scope="col" class="text-center">{{emp.email}}</td>
                                    <td scope="col" class="text-center">{{emp.mobile}}</td>
                                    <td scope="col" class="text-center">
                                        <button class="btn me-2 btn-outline-info" data-bs-toggle="modal"
                                            data-bs-target="#employeeInfo" (click)="showEmployeeInfo(emp)">Info</button>
                                        <button class="btn me-2 btn-outline-success" data-bs-toggle="modal"
                                            data-bs-target="#editEmployee" (click)="editEmployeeInfo(emp)">Edit</button>
                                        <button class="btn btn-outline-danger"
                                            (click)="deleteEmployee(emp)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- create-employee-modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstName" name="firstname" placeholder="first name"
                            [(ngModel)]="first_name">
                        <label for="firstName">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="last name"
                            [(ngModel)]="last_name">
                        <label for="lastname">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                            [(ngModel)]="email">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="9858694565"
                            [(ngModel)]="mobile">
                        <label for="mobile">Mobile</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a address here" id="address" name="address"
                            style="height: 100px" [(ngModel)]="address"></textarea>
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        (click)="addEmployee()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- edit-employee-modal -->
    <div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstName" name="firstname" placeholder="first name"
                            [(ngModel)]="first_name">
                        <label for="firstName">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="last name"
                            [(ngModel)]="last_name">
                        <label for="lastname">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                            [(ngModel)]="email">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="9858694565"
                            [(ngModel)]="mobile">
                        <label for="mobile">Mobile</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a address here" id="address" name="address"
                            style="height: 100px" [(ngModel)]="address"></textarea>
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="saveEditedEmployee()">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- show-employee-modal -->
    <div class="modal fade" id="employeeInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" disabled id="firstName" name="firstname"
                            placeholder="first name" [(ngModel)]="first_name">
                        <label for="firstName">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" disabled id="lastname" name="lastname"
                            placeholder="last name" [(ngModel)]="last_name">
                        <label for="lastname">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" disabled id="email" name="email"
                            placeholder="name@example.com" [(ngModel)]="email">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" disabled id="mobile" name="mobile"
                            placeholder="9858694565" [(ngModel)]="mobile">
                        <label for="mobile">Mobile</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" disabled placeholder="Leave a address here" id="address"
                            name="address" style="height: 100px" [(ngModel)]="address"></textarea>
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="ngOnInit()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>