<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <div class="card shadow">
               <div class="card-body">
                <form>
                    <div class="mb-3">
                        <h3 class="text-muted">Verify Email</h3>
                        <p>Link has been sent on registered email. Click on link to varify email.</p>
                    </div>
                    <a href="/login" style="text-decoration: none;">Back to login</a> <br>
                </form>
                </div>
           </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>