<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <div class="card shadow">
               <div class="card-body">
                <form>
                    <div class="mb-3">
                        <h3 class="text-muted">Login</h3>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="password" >
                    </div>
                    <button type="submit" class="btn btn-info me-2" (click)="login()">Login</button> <br>
                    <a href="/register" style="text-decoration: none;" class="me-2">Need account ? </a> <br>
                    <a href="/forgot-password" style="text-decoration: none;" class="me-2">Forgot Password ? </a>
                  </form>
               </div>
           </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>